# Virtual environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Database
db.sqlite3

# IDE
.vscode/
.idea/

# Test and coverage
.pytest_cache/
.coverage
htmlcov/

# Operating system
.DS_Store
Thumbs.db